.react-chatbot-kit-chat-container {
    width: 400px !important;
    border-width: 2px !important;
    border-color: aquamarine !important;
    border-bottom-right-radius: 5px !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

.react-chatbot-kit-chat-btn-send {
    padding-left: 20px !important;
}

.react-chatbot-kit-chat-btn-send-icon {
    width: 25px !important;
}

.react-chatbot-kit-chat-bot-message {
    width: 240px !important;
}