
.footer {
  margin: 40px auto;
  max-width: 1000px;
  padding: 0 10px;
}

.footer span {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  background: #fff;
  color: #333;
  height: 80px;
  padding: 0 10px;
}

.footer span p {
  margin: 5px 5px;
  min-width: 200px;
  font-size: small;
  text-decoration: none;
}

.icon {
  margin: 5px 5px;
}

.link {
  text-decoration: none;
}

@media (max-width: 768px) {
  .footer span {
    flex-direction: column;
    height: auto;
  }

  .footer span p {
    margin: 20px 0;
    flex-direction: column;
    text-align: left;
    font-size: small;
  }
}