.form {
    max-width: 500px;
    margin: auto;
    padding: 30px;
    box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
}
  
.form label {
    display: block;
    margin-bottom: 10px;
}

.form input[type='number'],
.form input[type='text'],
.form input[type='email'],
.form input[type='date'],
.form input[type='password'] {
    display: block;
    width: 100%;
    height: 40px;
    padding: 5px;
    font-size: 18px;
    border: 2px;
    border-color: aquamarine;
}

.form input[type='submit'] {
    margin-top: 20px;
    width: 100%;
    font-size: 17px;
}

.form select {
    display: block;
    width: 100%;
    height: 40px;
    padding: 5px;
    font-size: 18px;
}

.form div {
    margin-bottom: 20px;
}

.genderselect {
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

.selecttext {
    margin: 5px 5px;
}