.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  color: #333;
  height: 60px;
  padding: 0 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header a {
  color: #333;
  margin-right: 20px;
}

.header a:hover {
  color: #000;
}
.header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.closebutton {
  margin-left: 10px;
}

.alert {
  margin-bottom: 0;
  text-align: center;
  padding: 2px;
  color: #ffffff;
  background-color: rgb(22, 55, 104);
}

.logo {
  color: red;
  font-size: 20px;
  text-transform: uppercase;
}

.submenu {
  display: none;
}

.logo a {
  color: red;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  padding: 12px 12px;
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.submenubtn {
  font-size: 16px;  
  padding: 6px 6px;
  border: none;
  outline: none;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #666;
  color:#fff
}

.dropdowncontent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdowncontent a {
  float: none;
  color: black;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdowncontent a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdowncontent {
  display: block;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
  }

  .header ul {
    margin: 20px 0;
    flex-direction: column-reverse;
    text-align: center;
  }

  .header a {
    margin-right: 0;
  }

  .logo {
    margin: 20px 0;
  }
}